<header>
  <h1>Task List</h1>
  <div class='input-wrapper'>
    <input id='task-input' type='text' placeholder='Enter task...' />
    <button id='task-save'>Enter</button>
  </div>
</header>
<div class='list-wrapper'>
  <ul id='task-list'></ul>
  <h2>Completed</h2>
  <ul id='task-list-completed'></ul>
</div>